<div class="form-container">

  <form #noteForm="ngForm" (ngSubmit)="onSubmit(noteForm)">

    <div class="field">
      <label class="label">Title: </label>
      <div class="control">
        <input placeholder="Cooking Recipe"
               #title="ngModel"
               name="title"
               [ngModel]="note.title"
               type="text"
               required
               class="input">
      </div>
    </div>

    <div *ngIf="title.invalid && (title.dirty || title.touched)">
      <div class="required-name" *ngIf="title.errors.required">
        <i class="fas fa-exclamation-circle"></i> title is required.
      </div>
    </div>

    <br>

    <div class="field">
      <label class="label">Label: </label>
      <div class="control">
        <div class="select" name="label" >
          <select name="label" [ngModel]="note.label" required>
            <option [value]="undefined" disabled selected>Select Label</option>
            <option style="color: hsl(204, 86%, 53%)" [value]="'blue'" selected><span class="blue">Blue</span></option>
            <option style="color: hsl(348, 100%, 61%)" [value]="'red'">Red</option>
            <option style="color: hsl(48, 100%, 67%)" [value]="'yellow'">Yellow</option>
            <option style="color: hsl(141, 53%, 53%)" [value]="'green'">Green</option>
          </select>
        </div>
      </div>
    </div>

    <br>

    <div class="field">
      <label class="label">Body: </label>
      <div class="control">
        <textarea placeholder="Milk&#10;Sugar&#10;Flour&#10;Cook for 45 mins"
                  name="body"
                  [ngModel]="note.body"
                  class="textarea">
        </textarea>
      </div>
    </div>

    <div class="field is-grouped is-pulled-right">
      <div class="control">
        <button (click)="cancel()" class="button is-text" type="button">Cancel</button>
        <button [disabled]="!noteForm.valid"
                class="button is-success"
                type="submit"
                style="color: black;">
              Save
        </button>
      </div>
    </div>

  </form>

</div>
