.form-container {
  max-width: 500px;

  margin: auto;

  margin-top: 50px;

}

input, textarea {

  &.ng-invalid.ng-touched {
      border-color: rgba(red, 0.4);
  }
}

.required-name {
  color: rgba(red, 0.5);
  font-size: 15px;
  margin-top: -10px;
}
