@import '../../../main-styles.scss';

.main-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  padding-top: 50px;
}

.notes-list {
  margin-top: 35px;
  // not to overlap the content
  margin-bottom: 70px;
}

app-note-card {
  display: block;
  margin-bottom: 25px;
}

.floating-add-button {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 200px;
  height: 50px !important;
  border-radius: 0;
  box-shadow: 0px 0px 15px 5px rgba($dark, 0.2);

  height: 68px;
  font-size: 24px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.notes-list.cdk-drop-list-dragging .note-card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.no-results {
  margin: 30px auto;
  color: $beige-light;
}
