<div #container class="note-card-container">

  <div class="note-card-content">

    <h1 class="note-card-title">
      {{ title }}
    </h1>
    <div class="note-card-label">
      <div [ngClass]="{
                      'blue':label === 'blue',
                      'red': label === 'red',
                      'yellow': label === 'yellow',
                      'green': label === 'green'
                      }">
      </div>
    </div>
    <div #bodyText class="note-card-body">
      <p >{{ body }}</p>
      <div #truncator class="fade-out-truncation">
      </div>
    </div>

  </div>

  <div [routerLink]="link" class="edit"><i class="fas fa-pen fa-sm"></i></div>
  <div (click)="onButtonClick()" class="trash"><i class="fas fa-trash-alt fa-sm"></i></div>

</div>
