// changing vars and adding styles
@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$blue: #37c7f2;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

$light-red: #fff3f3;
$light: #f0f1f3;
$green: #0bf387;
// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;

// Update some of Bulma's component variables
$body-background-color: white;
$control-border-width: 2px;
$input-background-color: #f3f5fa;
$input-border-color: transparent;
$input-shadow: none;
$input-focus-border-color: #D0D1CD;
$input-focus-box-shadow-color: none;

// Global Styles

html, body {
  height: 100%;
  font-size: 18px !important;
  overflow: hidden !important;
}
