// changing vars and adding styles
@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$dark: #000028;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

$blue:  hsl(204, 86%, 53%);
$red:  hsl(348, 100%, 61%);
$green:  hsl(141, 53%, 53%);
$yellow :  hsl(48, 100%, 67%);

$light-red: #fff3f3;
$light: #f0f1f3;
$light-green: #23D2AA;
// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-light: $beige-light;
$primary: $dark;
$link: $light-green;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-background-color: lighten(white, 20%);
$input-border-color: transparent;
$input-shadow: none;
$input-focus-border-color: #D0D1CD;
$input-focus-box-shadow-color: none;

// Global Styles

html, body {
  height: 100%;
  font-size: 18px !important;
  overflow: hidden !important;
}
